{% extends 'base.html.twig' %}
{% import 'macro/_forms.html.twig' as forms %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Contact</h1>

    {{ form_start(form) }}
        {{ form_row(form.name, {'label': 'Your name'}) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        {{ forms.button('Send Message') }}
    {{ form_end(form) }}
</div>
{% endblock %}
